@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.playerCard {
  @include flex(center, center, column);

  &_figure {
    margin: 0.625rem;
  }

  &_img {
    height: 3rem;
    background-color: lightgray;
    border-radius: 50%;
    border: 2px solid black;
  }

  &_info {
    @include flex(center, center, column);
  }
}
