@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.buttons {
  //   display: flex;
  //   justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  @include flex(center, center, row);

  &_link {
    text-decoration: none;
  }

  &_notify,
  &_deposit {
    @include flex(center, center, row);
    background-color: white;
    border: 2px solid lightgray;
    margin: 0 1rem;
    border-radius: 30px;
    height: 3.25rem;
    padding: 1rem 2rem;
    width: 12rem;

    &-icon {
      height: 1.5rem;
      margin-right: 12px;
    }

    &-para {
      font-family: Arial, Helvetica, sans-serif;
      color: grey;
      font-weight: bold;
      font-size: 1rem;
      text-align: center;
    }
  }
}
