@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.buttons {
  @include flex(center, center, row);
  padding-top: 1rem;
  padding-bottom: 1rem;
  @include tablet {
    padding-top: 2rem;
  }

  &_link {
    text-decoration: none;
  }

  &_notify,
  &_deposit {
    @include flex(center, center, row);
    background-color: white;
    border: 2px solid lightgray;
    margin: 0 1rem;
    border-radius: 30px;
    height: 3.25rem;
    padding: 1rem 1rem;
    width: 8rem;
    @include tablet {
      width: 10rem;
      padding: 1rem 1rem;
    }
    @include desktop {
      width: 13rem;
      padding: 1rem 2rem;
    }

    &-icon {
      height: 1.5rem;
      margin-right: 12px;
    }

    &-para {
      @include font("Open Sans Bold", 600, 12px, 10px, $primary2);
      text-align: center;
      @include tablet {
        @include font("Open Sans Bold", 700, 16px, 18px, $primary2);
        font-weight: bold;
      }
    }
  }
}
