@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.downloads {
  &_line {
    border-bottom: 2px solid grey;
    opacity: 10%;
    margin-top: 1rem;
    width: 50%;
    margin: 0 auto;
  }

  &_para {
    @include font("Open Sans Bold", 600, 16px, 14px, $primary2);
    padding-bottom: 1rem;
    text-align: center;
    @include tablet {
      @include font("Open Sans Bold", 600, 18px, 16px, $primary2);
    }
    @include desktop {
      @include font("Open Sans Bold", 600, 20px, 18px, $primary2);
    }
  }

  &_container {
    @include flex(center, center, row);

    &-figure {
      margin: 16px 20px;

      &-img {
        height: 2.5rem;
        @include tablet {
          height: 3rem;
        }
        @include desktop {
          height: 4rem;
        }
      }
    }
  }
}
