@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.downloads {
  &_line {
    border-bottom: 2px solid grey;
    opacity: 10%;
    margin-top: 1rem;
    width: 50%;
    margin: 0 auto;
  }

  &_para {
    @include font("Open Sans Bold", 600, 16px, 14px, $primary2);
    padding-bottom: 1rem;
    text-align: center;
  }

  &_container {
    @include flex(center, center, row);

    &-figure {
      margin: 16px 20px;

      &-img {
        height: 2.5rem;
        @include tablet {
          height: 3rem;
        }
      }
    }
  }
}
