@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  &_list {
    @include font("Open Sans", 400, 14px, 16px, $primary);
    list-style-type: none;
    text-align: center;
    padding: 0 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    @include tablet {
      @include flex(center, center, row);
      padding: 1rem;
      padding-bottom: 5rem;
    }

    &-item {
      padding: 0 1rem;
      color: grey;
      @include tablet {
        border-right: 1px solid grey;
      }
    }

    &-item:last-child {
      border-right: none;
    }

    &-item:hover {
      cursor: pointer;
    }
  }
}
